html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.cover {
    height: 100vh;
    width: 100%;
    position: sticky;
    background-image: linear-gradient(to right bottom, #a80fde, #744fea, #3968e8, #0077db, #0080c6, #0089c3, #0092bf, #1999b9, #27a9ca, #33b9db, #3ecaec, #49dbfd);
}

nav {
    display: flex;
    align-items: right;
    justify-content: space-between;
    padding: 0 40px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
}

nav h1 {
    color: white;
    font-size: 25px;
    cursor: pointer;
    padding: 4px;
}

nav ul {
    margin-left: 840px;;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 0;
    margin-top: 8px;
}

nav ul li a {
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    margin-right: 40px;
}

nav ul li a:hover {
    color: #a80fde;
    transition: 0.5s;
}

.content {
    max-width: 100%;
    height: 450px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.caption {
    flex: 1;
    margin-top: 50px;
    opacity: 0;
    animation: slider 3s forwards;
}
.form-box {
    flex: 1;
    margin: auto;
    opacity: 0;
    animation: moved 3s forwards;
}

.caption h2 {
    font-size: 40px;
    color: white;
    text-align: center;
}

.caption p {
    font-size: 20px;
    text-align: center;
    color: white;
}

.form-box .form {
    max-width: 100%;
    height: 160px;
    padding: 10px;
}

.judul {
    color: white;
    margin-left: 10px;
}

.form .nama{
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: relative;
}

.form .pesan {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: white;
    top: -90px;
}

.form input {
    position: relative;
    width: 97%;
    height: 30px;
    padding: 5px 10px;
    font-size: 18px;
    margin-top: 10px;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    box-shadow: 5px 7px 30px rgba(0, 0, 0, 0.2);

}

.form textarea {
    position: relative;
    width: 97%;
    height: 200px;
    padding: 5px 10px;
    font-size: 18px;
    margin-top: -80px;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    box-shadow: 5px 7px 30px rgba(0, 0, 0, 0.2);
}
button {
    padding: 8px 22px;
    font-size: 18px;
    border-radius: 12px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 10px;
}

button:hover {
    background-color: white;
    box-shadow: 0px 0px 40px 10px rgba(255, 255, 255, 0.6);
    color: #0074e4;
    transform: scale(1.2);
}

.sidebar ul {
    display: none;
}

@keyframes slider {
    0%   {
        transform: translatey(-80px);
        opacity: 0;
    }
    100% {
        transform: translatey(20px);
        opacity: 1;
    }
}

@keyframes moved {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}
/*.form input {
    position: relative;
    width: 100%;
    height: 30px;
    padding: 6px 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    box-shadow: 5px 7px 30px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    right: 50px;
}

/*textarea {
    position: relative;
    width: 600px;
    height: 150px;
    padding: 6px 8px;
    font-size: 16px;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.4);;
    border-radius: 8px;
    box-shadow: 5px 7px 30px rgba(0, 0, 0, 0.2);
    margin-right: 60px;
}*/

@media (max-width : 600px){
    nav ul {
        display: none;
    }
    .cover {
        width: 100%;
        height: 1500px;
        background-image: linear-gradient(to right bottom, #a80fde, #744fea, #3968e8, #0077db, #0080c6, #0089c3, #0092bf, #1999b9, #27a9ca, #33b9db, #3ecaec, #49dbfd);
    }
    .content {
        max-width: 100%;
        height: 450px;
        padding: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .judul {
        color: white;
        margin-top: 100px;
        margin-left: 10px;
    }

    .caption {
        flex: 1;
        margin-top: 50px;
        opacity: 0;
        animation: slider 3s forwards;
        margin: 0 10px;
        z-index: -999;
    }

    .form-box {
        flex: 1;
        margin: auto;
        opacity: 0;
        animation: moved 3s forwards;
        margin: 0 10px;
        z-index: -999;
    }

    .caption h2 {
        font-size: 40px;
        color: white;
        text-align: center;
    }
    
    .caption p {
        font-size: 20px;
        text-align: center;
        color: white;
    }

    .form-box .form {
        max-width: 100%;
        height: 200px;
        padding: 10px;
    }

    .form .pesan {
        position: relative;
        font-size: 20px;
        font-weight: bold;
        color: white;
        top: -120px;
    }

    .form textarea {
        position: relative;
        width: 97%;
        height: 250px;
        padding: 5px 10px;
        font-size: 18px;
        margin-top: -100px;
        color: white;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 2px solid rgba(255, 255, 255, 0.4);
        border-radius: 8px;
        box-shadow: 5px 7px 30px rgba(0, 0, 0, 0.2);
    }

    button {
        padding: 8px 22px;
        font-size: 18px;
        border-radius: 12px;
        background-color: transparent;
        border: 2px solid white;
        color: white;
        cursor: pointer;
        transition: 0.5s;
        margin-left: 10px;
    }
    

    .navbar {
        width: 40px;
        height: auto;
        margin: 0;
        padding: 0;
        padding: 16px;
        position: relative;
        left: 20px;
    }
    .navbar .toggler-navbar {
        margin-right: 15px;
    }
    .sidebar {
        margin-left: 160px;
        position: fixed;
        top: 80px;
        left: 0;
        width: 160px;
        height: 200px;
        background: rgba(0, 0, 0, 0.836);
        text-align: right;
        font-size: 20px;
        transform: rotate3d(0, 1, 0, 90deg);
        transform-origin: right center;
        transition: .5s;
        border-radius: 5px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    
    .sidebar.open {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    .sidebar ul{
        list-style: none;
        display: contents;
    }
    
    .sidebar li:hover {
        background: #5a5a5a3f;
    }

    .sidebar li a {
        color: white;
        text-decoration: none;
        padding: 4px 20px;
        display: block;
    }
    .hamburger-menu {
        width: 30px;
        height: 30px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    .hamburger-menu span {
        margin-top: 10px;
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: white;
        border-radius: 9px;
        opacity: 1;
        top: 6px;
        left: 5px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .hamburger-menu span:nth-child(1) {
        top: 2.5px;
    }

    .hamburger-menu span:nth-child(2) {
        top: 11px;
    }

    .hamburger-menu span:nth-child(3) {
        top: 21px;
    }

    .hamburger-menu.open span:nth-child(1) {
        top: 15px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    .hamburger-menu.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }

    .hamburger-menu.open span:nth-child(3) {
        top: 14px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
}





